.calendar__days {
  grid-column: 4 / 13;
  grid-row: 4 / 13;
  /* margin-left: 3rem; */
  /* margin-top: 2rem; */

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, minmax(min-content, 1fr));
  gap: 10px;

  overflow: hidden;
  /* border: 1px solid black; */
}

.calendar__day-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.calendar__day-text {
  color: white;
  font-style: italic;

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.calendar__day {
  /* background-color: var(--color-white); */
  border-radius: 0.5rem;
  font-size: 1.1em;
  /* box-shadow: 0 2px 5px var(--color-box-shadow); */
  cursor: pointer;
  padding: 1rem;

  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 100%;
  height: 100%;

  /*   display: flex;
  justify-content: center;
  align-items: center; */
}

/* @keyframes borderColor {
  0% {
    border-color: white;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: transparent;
  }
} */

.calendar__day--frontSide,
.calendar__day--backSide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 2s ease;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px var(--color-box-shadow);

  border: 1px solid transparent;
}

.calendar__day--backSide {
  background-color: yellow;
  transform: rotateY(180deg);
}

.calendar__day:hover .calendar__day--frontSide {
  transform: rotateY(-180deg);

  border: 3px solid white;
}

.calendar__day:hover .calendar__day--backSide {
  transform: rotateY(0deg);

  border-color: white;
}

.calendar__day--1 {
  grid-area: 1 / 1 / 2 / 2;

  .calendar__day--1-frontSide {
    background-color: var(--image-bg-color1);
  }
}

.calendar__day--2 {
  grid-area: 1 / 2 / 2 / 4;
  .calendar__day--2-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--3 {
  grid-area: 1 / 4 / 2 / 5;

  .calendar__day--3-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--4 {
  grid-area: 1 / 5 / 3 / 6;

  .calendar__day--4-frontSide {
    background-color: var(--image-bg-color2);
  }

  .calendar__day-image--4 {
    object-fit: fill;
  }
}

.calendar__day--5 {
  grid-area: 1 / 6 / 2 / 7;

  .calendar__day--5-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--6 {
  grid-area: 1 / 7 / 2 / 9;

  .calendar__day--6-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--7 {
  grid-area: 1 / 9 / 2 / 10;

  .calendar__day--7-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--8 {
  grid-area: 2 / 1 / 4 / 2;

  .calendar__day--8-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--9 {
  grid-area: 2 / 2 / 3 / 3;

  .calendar__day--9-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--10 {
  grid-area: 2 / 3 / 3 / 5;

  .calendar__day--10-frontSide {
    background-color: var(--image-bg-color1);
  }

  padding: 0;
}

.calendar__day--11 {
  grid-area: 2 / 6 / 3 / 8;

  .calendar__day--11-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--12 {
  grid-area: 2 / 8 / 3 / 10;

  .calendar__day--12-frontSide {
    background-color: var(--image-bg-color1);
  }
}

.calendar__day--13 {
  grid-area: 3 / 2 / 4 / 3;

  .calendar__day--13-frontSide {
    background-color: var(--image-bg-color1);
  }
}

.calendar__day--14 {
  grid-area: 3 / 3 / 4 / 4;

  .calendar__day--14-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--15 {
  grid-area: 3 / 4 / 4 / 5;

  .calendar__day--15-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--16 {
  grid-area: 3 / 5 / 5 / 6;

  .calendar__day--16-frontSide {
    background-color: var(--image-bg-color1);
  }
}

.calendar__day--17 {
  grid-area: 3 / 6 / 4 / 7;

  .calendar__day--17-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--18 {
  grid-area: 3 / 7 / 5 / 8;

  .calendar__day--18-frontSide {
    background-color: var(--image-bg-color2);
  }

  .calendar__day-image--18 {
    object-fit: cover;
    object-position: -2% 0%;
  }
}

.calendar__day--19 {
  grid-area: 3 / 8 / 4 / 9;

  .calendar__day--19-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--20 {
  grid-area: 3 / 9 / 4 / 10;

  .calendar__day--20-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--21 {
  grid-area: 4 / 1 / 5 / 3;

  .calendar__day--21-frontSide {
    background-color: var(--image-bg-color1);
  }
}

.calendar__day--22 {
  grid-area: 4 / 3 / 5 / 4;

  .calendar__day--22-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--23 {
  grid-area: 4 / 4 / 5 / 5;

  .calendar__day--23-frontSide {
    background-color: var(--image-bg-color2);
  }
}

.calendar__day--24 {
  grid-area: 4 / 6 / 5 / 7;

  .calendar__day--24-frontSide {
    background-color: var(--image-bg-color3);
  }
}

.calendar__day--25 {
  grid-area: 4 / 8 / 5 / 10;

  .calendar__day--25-frontSide {
    background-color: var(--image-bg-color1);
  }
}
